<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		 http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		 http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 扫描当前包下的所有文件，被spring工厂管理起来 -->	 
    <context:component-scan base-package="edu.xufe">
    <!-- 所有的文件中出掉带@RestController的【include是包含】 -->
      <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>
    <!-- 读取数据源druid的配置文件 -->
    <context:property-placeholder location="classpath:mybaits/config/druid.properties"/>
   <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
         <property name="url" value="${druid.url}"/>
         <property name="username" value="${druid.username}"/>
         <property name="password" value="${druid.password}"/>
         <property name="driverClassName" value="${druid.driver}"/>
    </bean>
    <!-- 配置SqlSessionFactory -->
    <bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
         <property name="configLocation" value="classpath:mybaits/config/configuration.xml"/>
         <property name="dataSource" ref="dataSource"/>
         <property name="mapperLocations" value="classpath:mybaits/mapper/*.mapper.xml"/>
         
    </bean>
    <!-- 辅助配置 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
         <property name="basePackage" value="edu.xufe.mapper"/>
         <property name="sqlSessionFactoryBeanName" value="SqlSessionFactory"/>       
    </bean>
    <!-- 事务管理配置 -->
    <bean id="textManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="textManager" proxy-target-class="true"/>
</beans>

